<div class="row">

    <div class="sidebar col-xs-6 col-lg-3">
        <a class="logo">Logo</a>
        <a routerLink="/" ><i class="fa fa-fw fa-wrench"></i>Home</a>
        <a routerLink="trader" routerLinkActive="active"><i class="fa fa-fw fa-wrench"></i> Trader Profile</a>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Echarts</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Mail Box</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Support</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Setting</a>
    </div>
    <div class="col-xs-6 col-lg-9">
        
        
       
    </div>
</div>