/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
@font-face {
    font-family: poppins;
    src: url(assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins;
}