@font-face {
    font-family: poppins;
    src: url(../../assets/Poppins-Regular.ttf);
}

.sidebar {
    min-height: 100vh;
    max-width: 320px;
    background: #3f3d56;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    color: #fff;
    padding: 10px;
    font-family: poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 15px;
    img {
        padding-right: 22px;
    }
    .logo {
        font-family: poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 80px;
    }
    .active {
        color: #13eeee !important;
        position: relative;
        &:before {
            content: "";
            width: 10px;
            height: 31px;
            position: absolute;
            left: -15px;
            background: #13eeee;
            top: 16px;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 22px 55px;
        &:hover {
            color: #4b75bd;
        }
    }
}
.d-flex {
    display: flex;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.trade .col {
    min-width: 218px;
    min-height: 202px;
    background: #3f3d56;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #fff;
    padding: 20px;
    button {
        width: 71px;
        height: 26px;
        background: #13eeee;
        border-radius: 8px;
        border: 0;
        color: #000;
        font-size: 15px;
        font-weight: 600;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    img {
        width: 71px;
        height: 71px;
        margin: 36px 0 18px 0;
    }
}
.price {
    .price-content {
        border: 1px solid #2f2e41;
        border-radius: 8px;
        margin-bottom: 27px;
        min-height: 228px;
        padding: 15px;
    }
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background: rgba(63, 61, 86, 0.2);
    border-radius: 8px;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background: #3f3d56;
    border-radius: 8px;
    color: #fff;
}
#style-1::-webkit-scrollbar-track {
    border-radius: 10px;
}
.scrollbar {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
}
// #style-1::-webkit-scrollbar-track {
//     border-radius: 10px;
// }

#style-1::-webkit-scrollbar {
    width: 4px;
}

#style-1::-webkit-scrollbar-thumb {
    background: rgba(63, 61, 86, 0.6);
    border-radius: 8px;
}
table {
    border-collapse: separate;
    border-spacing: 0 15px;
    padding-right: 15px;
}
table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
}
td {
    border-style: solid none;
    border-color: transparent;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: transparent;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: transparent;
}
.table > thead > tr > th {
    border: 0;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.market-status {
    background: rgba(63, 61, 86, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    button {
        background: transparent;
        color: #000;
        border: 1px solid;
        border-radius: 10px;
        padding: 5px 25px;
        height: 35px;
        font-size: 17px;
    }
}
.price {
    padding: 30px 0;
}
.market-content {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-bottom: 50px;
    position: relative;
    img:not(.line) {
        margin-right: 10px;
    }
    .line {
        position: absolute;
        width: 100%;
        bottom: 20px;
    }
}
.market-content .d-flex {
    align-items: center;
}
.amount {
    font-size: 20px;
}
.percent-section {
    color: #25c953;
}

.dropdown .btn,.dropdown-menu a{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding: 0;
}
.dropdown-menu {
    padding: 10px;
}
.content-wrapper {
    min-width: calc(100vw - 338px);
    padding: 30px;
    h1 {
        font-size: 20px;
    }
}

/*********/
@media screen and (max-width: 767px) {
    .sidebar {
        min-height: auto;
        max-width: 100%;
    }
}
@media screen and (max-width: 1024px) {
   img {
    max-width: 100%;
   }
    .content-wrapper {
        padding: 15px 30px !important;
    }
    .content {
        display: block;
    }
    .trade [class*="col-lg"] {
        padding-bottom: 15px;
    }
}
