<div class="row main-container m-0 d-flex">

    <div class="sidebar col-xs-12 col-sm-6 col-lg-3">
        <a class="logo">Logo</a>
        <a routerLink="" routerLinkActive="active"><img src="../../assets/vector-1.png"/>Home</a>
        <a routerLink="trader" routerLinkActive="active"><img src="../../assets/Vector-2.png"/> Trader Profile</a>
        <a href="#clients"><img src="../../assets/Vector3.png"/> Echarts</a>
        <a href="#contact"><img src="../../assets/Vector4.png"/> Mail Box</a>
        <a href="#contact"><img src="../../assets/Vector5.png"/> Pages</a>
        <a href="#contact"><img src="../../assets/Vector6.png"/> Support</a>
        <a href="#contact"><img src="../../assets/Vector7.png"/> Setting</a>

    </div>
    <div class="col-xs-12 col-sm-6 col-lg-9 content-wrapper">
        <div class="content ps-0">
            <h1>
                <img src="../../assets/ham-menu.png" alt="" class="me-3"/>
                Overview
            </h1>
            <div>
                <i></i>
                <i></i>
                <div class="dropdown show">
                    <!-- <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome, DU PLESSIS legal rep
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div> -->
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            Welcome, DU PLESSIS legal rep
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
        <div class="row trade">
            <div class="col-xs-12 col-sm-6 col-lg-3 ">
                <div class="col">
                    <img src="../../assets/image.png" />
                    <button class="pull-right">TRADE</button>
                    <p>
                        Bitcoin
                    </p>
                    <p>$50,000
                        <span class="pull-right">-0.50% <i class="fa fa-fw fa-arrow-down"></i></span>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 ">
                <div class="col">
                    <img src="../../assets/image.png" />
                    <button class="pull-right">TRADE</button>
                    <p>
                        Bitcoin
                    </p>
                    <p>$50,000
                        <span class="pull-right">-0.50% <i class="fa fa-fw fa-arrow-down"></i></span>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 ">
                <div class="col">
                    <img src="../../assets/image.png" />
                    <button class="pull-right">TRADE</button>
                    <p>
                        Bitcoin
                    </p>
                    <p>$50,000
                        <span class="pull-right">-0.50% <i class="fa fa-fw fa-arrow-down"></i></span>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 ">
                <div class="col">
                    <img src="../../assets/image.png" />
                    <button class="pull-right">TRADE</button>
                    <p>
                        Bitcoin
                    </p>
                    <p>$50,000
                        <span class="pull-right">-0.50% <i class="fa fa-fw fa-arrow-down"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="price row">
            <div class="col-xs-12 col-lg-7">
                <div class="price-content">
                    <h2>Price</h2>
                    <p>
                        The price of Bitcoin over the last day
                    </p>
                    <img src="../../assets/graph.png" class="m-auto w-100"/>
                </div>
                <div class="price-content">
                    <h2>
                        USD Price change
                    </h2>
                    <div class="scrollbar" id="style-1">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Change</th>
                                    <th>High</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05 - 30 May
                                    </td>
                                    <td>
                                        -$0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                    <td>
                                        $0.50
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-lg-5">
                <div class="market-status">
                    <div class="heading">
                        <h3>
                            Market Status
                        </h3>
                        <button data-bs-toggle="collapse" data-bs-target="#demo"> View all</button>
                        
                    </div>
                    <div id="demo" class="collapse">
                        <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div> <div class="market-content">
                            <div class="d-flex">
                                <img src="../../assets/image-2.png" alt="image" />
                                <div>
                                    <p>Total Supply</p>
                                    <p class="amount">$0.00</p>
                                </div>
                                
                            </div>
                            <div class="percent-section">
                                <p>
                                    Max supply
                                </p>
                                <span class="amount"><i class="fa fa-fw fa-arrow-up"></i>20%</span>
                            </div>
                            <img src="../../assets/Line.png" alt="line" class="line"/>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>